<div class="masthead">
  <nav>
    <ul class="nav nav-justified">
      <li><a href="#">Quarterbacks</a></li>
      <li><a href="#">Running Backs</a></li>
      <li><a href="#">Wide Receiver</a></li>
      <li><a href="#">Tight End</a></li>
      <li><a href="#">Kicker</a></li>
      <li><a href="#">Defense</a></li>
    </ul>
  </nav>
</div>
