<header>
  <h1>
    Welcome to Fantasy Football
  </h1> 
  <h2>
    We're using Rails <%= Rails.version %> </h2>
</header>

<section>
  <p>
    Future home of Fantasy Football Dashboard
  </p>
</section>
